.container {
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 0 auto;
}

/* ---------HEADER----------- */

.header {
    display: flex;
    font-display: row;
    justify-content: space-between;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    
}

.link {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    padding: 18px 0;
}

.header-logo_text {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: color 500ms linear;
}

.header-logo_text:hover {
    color: #01813F;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav_1 {
    margin-right: 27px;
}

.header-nav_2 {
    margin-right: 24px;
}

.header-nav_3 {
    margin-right: 25px;
}

path {
    transition: fill 500ms;
}

.svg:hover path{
    fill:#01813F;
}

.header-actions {
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header-log {
    margin-left: 27px;
}

.header-actions_link {
    transition: color 500ms;
}

.header-actions_link:hover {
    color: #01813F;
}

/* -----FORM----- */

.main {
    margin: 58px auto 74px;
}

.form-wrapper {
    box-sizing: border-box;
    margin: auto;
    width: 444px;
    background-color: #ffffff;
    padding: 31px 60px 38px;
    position: relative;
}

.cube {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 29px;
    background-color: rgba(60, 184, 120, 1);
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.socials-sign {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #434343;
}

.socials-login {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    align-items: center;
    color: #3CB878;
    display: flex;
    justify-content: flex-end;
}

.socials-login:hover {
    text-decoration: underline;
    cursor: pointer;
}

.socials-btns {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials-btn_google, 
.socials-btn_facebook {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-align: center;

}

.socials-btn_facebook {
    background-image: url(../images/facebook-btn.png);
    background-color: #305DB8;
    background-size: 13px 24px;
    background-position: 16px 12px;
    padding: 17px 22px 17px 67px;
    position: relative;
    transition: background-color 500ms linear;
}

.socials-btn_facebook::before {
    content: "";
    border-left: 1px solid #0A162F;
    height: 28px;
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 47px;
    opacity: 0.1;
}


.socials-btn_facebook:hover {
    background-color: #022263;
}

.socials-btn_google {
    background-image: url(../images/google-btn.png);
    background-color: #DF4A32;
    background-size: 30px 19px;
    padding: 17px 27px 17px 80px;
    background-position: 12px 15px;
    position: relative;
    transition: background-color 500ms linear;
}

.socials-btn_google:hover {
    background-color: #AB1F09;
}

.socials-btn_google::before {
    content: "";
    border-left: 1px solid #0A162F;
    height: 28px;
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 47px;
    opacity: 0.1;
}

/* form */

.fieldset {
    margin-top: 32px;
    margin-bottom: 11px;
}

.legend {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #848484;
    text-align: center;
}

.form-input {
    box-sizing: border-box;
    width: 322px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    align-items: center;
    color: #BEBEBE;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 19px;
    margin-bottom: 15px;
}

.form-input:last-child{
    margin-bottom: 0;    
}

.form-input::placeholder {
    color: #BEBEBE;
}


.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.label{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #434343;
    
}

.label-link {
    color: rgba(60, 184, 120, 1);
    transition: color 500ms linear;
}

.label-link:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.checkbox {
margin-right: 8px;
}

.form-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    width: 100%;
    padding: 16px 99px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
    transition: background-color 500ms linear;
}

.form-btn:hover {
    background-color: #01813F;
}